sudo: true
language: python
python:
  - "2.7"
before_install:
  - wget -O arduino-package.tar.gz https://github.com/arduino/Arduino/archive/1.6.7.tar.gz
  - tar -xf arduino-package.tar.gz
  - sudo mv Arduino-1.6.7 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  - pip install -r server/requirements.txt
  - arduino --install-boards "esp8266:esp8266"
script:
  - cd server; make test
  - cd Arduino; make verify
