sudo: true
language: python
python:
  - "2.7"
before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  - wget -O arduino-package.tar.xz https://www.arduino.cc/download.php?f=/arduino-1.6.7-linux64.tar.xz
  - tar -xf arduino-package.tar.xz
  - sudo mv arduino-1.6.7 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  - pip install -r server/requirements.txt
  - arduino --pref "boardsmanager.additional.urls=http://arduino.esp8266.com/stable/package_esp8266com_index.json" --install-boards esp8266:esp8266
  - arduino --pref "boardsmanager.additional.urls="
script:
  - cd server; make test; cd ..;
  - cd Arduino; arduino --verbose --verify --board esp8266:esp8266:thing ./ESP8266_Sensor/ESP8266_Sensor.ino
