sudo: true
language: python
python:
  - "2.7"
before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  - wget -O arduino-package.tar.xz https://www.arduino.cc/download.php?f=/arduino-1.6.7-linux64.tar.xz
  - tar -xf arduino-package.tar.xz
  - sudo mv arduino-1.6.7 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  - pip install -r server/requirements.txt
  - arduino --install-boards "esp8266:esp8266"
script:
  - cd server; make test
  - cd Arduino; make verify
