{% extends "base.html" %}
{% block body %}

<div class="container">
 <div class="content">
  <p>
    Table of recent values from sensor:
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Recieve Time</th>
        <th class="is-text-right">Raw Sensor Value [ADC Count]</th>
        <th class="is-text-right">Computed Value [&deg;C]</th>
      </tr>
    </thead>
    <tbody id="datatable"></tbody>
  </table>

  <p>
    Chart of recent values:
  </p>

  <div id="chart"></div>
 </div>
</div>

{% endblock %}
